.uploadPicture{
    background-image: url("../../../assets/wallpaperProfile2.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #9881AF;
    width: 50%;
    height: calc(100vh - 90px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow-y: hidden;
    flex-wrap: nowrap;
}

.uploadTitle{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 10px;
    color: #ffffff;
    letter-spacing: .5px;
    margin: 0;
}

.dropContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#inputFile {
    opacity: 0;
    height: 0;
}

#fileName {
    display: none;
    font-size: 1rem;
}

#buttonUpload {
    border: 1px solid #fff;
    color:white;
    background-color: #9881AF;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 1px 1px 1px #3D2C4E;
    box-shadow: 13px 14px 17px -11px rgba(0,0,0,0.20);
    -webkit-box-shadow: 13px 14px 17px -11px rgba(0,0,0,0.20);
    -moz-box-shadow: 13px 14px 17px -11px rgba(0,0,0,0.20);
    cursor: pointer;
    transition: all 0.3s;
}

#buttonUpload:hover{
    background-color: #81689b;
}

#buttonUpload:active{
    font-size: 17px;
    box-shadow: 13px 14px 17px -11px rgba(0,0,0,0.20) inset;
    -webkit-box-shadow: 13px 14px 17px -11px rgba(0,0,0,0.20) inset;
    -moz-box-shadow: 13px 14px 17px -11px rgba(0,0,0,0.20) inset;
}